body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f0f0f0, #c2cacd, #b3e2f678,#ffb6db37,#c2cacd82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body .container {
    display: none;
}
.content_dashboard
{
    display: -webkit-inline-box;
}


/*Form Styling for login and register*/
.spacer
{
    display: flex;
    justify-content: space-around;
}

.loginbox
{
    display: inline-grid;
}

.a
{
/*removing underline from all anchors*/
    color: #FFFFFF;
    text-decoration: none;
}
.button {
    color: white;
    text-decoration: none;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(12, 165, 231, 0.663);
}
.button:hover {
    color: white;
    text-decoration: none;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
}
.navbar {
    background-color: rgb(0, 89, 190);
    padding-bottom: 10px;
    backdrop-filter: blur(10px);
}

.navbar .navbar-brand {
    color: #7b0e3d;
    font-family: 'Rancho', cursive;
    font-size: 32px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.912);
    font-weight: 100;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color: rgb(127, 1, 112);
    text-decoration: none;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(219, 80, 121, 0.4);
}

.graph_container
{
    display: table-footer-group;
    margin-top: 30px;
}

.loginbox
{
    padding: 25px;
    border-radius: 20px;
    background-color: #0f20273b;
}

#submit
{

    color: white;
    background-color: #18c16c;
    border: 2px solid green;
}
    
#prompt
{
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}
.currency_form
{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
#conversion-rate-container
{
    font-size: larger;
    color: #0F2027;
}
.content_currency
{
    display: grid;
}
.button_graph
{
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    background-color: rgb(91, 154, 91);
    padding: 3px;
}

/*-----------News section---------*/
#articles .article {
    border: none;
    margin: 10px auto;
    padding: 30px;
    color: white;
    background-color: rgba(56, 12, 36, 0.305);
}

.article-img {
    max-width: 100%;
}

.article .title {
    font-weight: 600;
}

.article .button {
    float: right;
}

#news-currency-selector
{border: none;
    margin-top: 10px;}