<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% include ['header.html'] %}
</head>
{% include ['navbar.html'] %}
<body>
    <div class="container ">
        <div class="content">
          {% if msg %}
          <p class="alert-text">{{ msg }}</p>
          {% endif %}
          <form action="{{ url_for('save_conversion') }}" method="post">
            <input type="text" placeholder="Enter Value" name="input-amount-1" class="currency-input" id="input-amount-1">
            <select name="currency-input-1" id="currency-selector-1" onchange="updatevalue()"></select>
            <br>
            <a class="switchCurrency" onclick="switchCurrency()"><img class="switchIconConverter" src="{{ url_for('static', filename='img/repeat-solid.svg') }}"></a>
            <br>
            <input type="text" name="input-amount-2" class="currency-input" id="input-amount-2">
            <select name="currency-input-2" id="currency-selector-2" onchange="updatevalue()"></select>
            <p id="conversion-rate-container"><span id="conversion-rate"></span></p>
            <input class="button" type="submit" value="Save Conversion">
            <a href="{{ url_for('profile') }}" class="button">View Saved Conversions</a>
          </form>
        </div>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
    </body>

</html>