<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--Website Name-->
    <a class="navbar-brand" href="{{url_for('index')}}">Currency Converter</a>
   
    <!--Toggle Button when the screen is resized-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!--Collapse This menu when resize-->
    <div class="collapse navbar-collapse" id="navbarToggler">
      
      <!--Move menu to the right of the screen-->
      <ul class="navbar-nav ms-auto">
        <!--Nav Items-->
        <li class="nav-item">
          <a class="nav-link" href="#">Converter</a> </li>
          <a class="nav-link" href="#">History</a> </li>
          <a class="nav-link" href="#">Recent News</a> </li>
          <a class="nav-link" href="#">Login</a> </li>
          <a class="nav-link" href="#">Registration</a> </li>
  
        </li>
      </ul>
    </div>
  </nav>