<!doctype html>
<html lang="en">
  {% include ['<header></header>.html'] %}
  <body>
    {% include ['navbar.html'] %}
    <div class="loading-container">
      <div class="loading-spinner"></div>
    </div>
    <div class="container">
      <div class="content">
        <h1>{{ user.username }}'s profile</h1>
        <br><br><br>
        <h3>Saved Conversions</h3>
        {% if conversions == [] %}
          <p>No conversions found.</p>
        {% else %}
          <table class="tg">
            <thead>
              <tr>
                <th class="tg-0lax">From Currency</th>
                <th class="tg-0lax">To Currency</th>
                <th class="tg-0lax">From Value</th>
                <th class="tg-0lax">To Value</th>
                <th class="tg-0lax">Rate</th>
                <th class="tg-0lax">Date Saved</th>
                <th class="tg-0lax">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for each in conversions %}
                <tr>
                  <td class="tg-0lax">{{ each.fromCurrency }}</td>
                  <td class="tg-0lax">{{ each.toCurrency }}</td>
                  <td class="tg-0lax">{{ each.fromValue }}</td>
                  <td class="tg-0lax">{{ each.toValue }}</td>
                  <td class="tg-0lax rate">{{ each.rate }}</td>
                  <td class="tg-0lax date">{{ each.date_saved }}</td>
                  <td class="tg-0lax"><a class="button delete-conersion" href="{{ url_for('delete_conversion', id=each.id) }}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {% if current_user.is_Admin %}
          <br><hr><br>
          <h3>User List</h3>
          <table class="tg">
            <thead>
              <tr>
                <th class="tg-0lax">User ID</th>
                <th class="tg-0lax">Username</th>
                <th class="tg-0lax">Is Admin</th>
                <th class="tg-0lax">Admin Status</th>
                <th class="tg-0lax">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for each in user_list %}
                <tr>
                  <td class="tg-0lax">{{ each.id }}</td>
                  <td class="tg-0lax">{{ each.username }}</td>
                  <td class="tg-0lax">{{ each.is_Admin }}</td>
                  <td class="tg-0lax"><a class="button make_admin" href="{{ url_for('make_admin', id=each.id) }}">Make Admin</a>  <a class="button remove_admin" href="{{ url_for('remove_admin', id=each.id) }}">Remove Admin</a></td>
                  <td class="tg-0lax"><a class="button delete-user" href="{{ url_for('delete_user', id=each.id) }}">Delete User</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <script>
      $(".loading-container").hide();
      $(".container").show();
    </script>

  </body>

</html>