<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% include ['header.html'] %}
</head>
{% include ['navbar.html'] %}
<body>
    <h1>Register</h1>
  
    <div class = spacer>
    <form class = loginbox method = 'POST'action="">
        <label for="">Username</label>
        {{ form.hidden_tag() }} 
        {{ form.username() }} 
        <label for="">Password</label>
        {{ form.password() }} <br>
        {{ form.submit() }} <br>
        <a href="{{url_for('login')}}">Already have an account? Log in</a><br>
    
    </form>
</div>
</body>
</html>